In [1]:
a = 10
if a == 10 :
    print("this is my first condition")

this is my first condition

In [2]:
a = 10
if a == 11 :
    print("this")

In [3]:
a = 10
if a > 5 :

IndentationError: expected an indented block (2419505947.py, line 3)

In [4]:
a = 10
if a > 5:
    pass

In [5]:
a = 10
if a > 8 :
    print("print this if condition is true")

print this if condition is true

In [6]:
a=10
if a > 8:
    print("this")

this

In [7]:
a=10
if a < 8:
    print("this man")

In [10]:
a= 10
if a == 11:
    print("my condition is false")
else :
    print("print this")

print this

In [11]:
a= 10
if a != 11:
    print("my condition is false")
else :
    print("print this")

my condition is false

In [13]:
a = 10
if a == 12 :
    print("here we are trying to compare 10 with 12")
elif a ==11:
    print("we are tryig to comapre 10 with 11")
else :
    print("if all blocks fail then do this")

if all blocks fail then do this

In [14]:
a = 10
if a == 12 :
    print("here we are trying to compare 10 with 12")
elif a ==10:
    print("we are tryig to comapre 10 with 11")
else :
    print("if all blocks fail then do this")

we are tryig to comapre 10 with 11

In [15]:
price = 500

if price > 500 :
    print ("I am not able to buy jacket")
elif price < 500:
    print("I am able to buy jacket")

In [16]:
price = 500
if price > 500 :
    print ("I am not able to buy jacket")
elif price < 500:
    print("I am able to buy jacket")

In [17]:
price = 500
if price > 500 :
    print ("I am not able to buy jacket")
elif price <= 500:
    print("I am able to buy jacket")

I am able to buy jacket

In [19]:
price = 500
if price > 500 :
    print ("I am not able to buy jacket")
elif price < 500:
    print("I am able to buy jacket")
else price = 500:
    print("I do not know")

SyntaxError: invalid syntax (1866825301.py, line 6)

In [20]:
price = 500
if price > 500 :
    print ("I am not able to buy jacket")
elif price < 500:
    print("I am able to buy jacket")
else:
    print("I do not know")

I do not know

In [21]:
price>500

False

In [22]:
price < 500

False

In [23]:
price <=500

True

In [24]:
l=[1,2,3,4,5]
2 in l

True

In [25]:
if 2 in l:
    print("try to perform task")
else :
    print("do not perform this task")

try to perform task

In [26]:
if 60 in l:
    print("try to perform task")
else :
    print("do not perform this task")

do not perform this task

In [27]:
60 in l

False

In [28]:
l

[1, 2, 3, 4, 5]

In [29]:
if 1 in l:
    print("try to add")
elif 2 in l :
    print("try to subtract")
elif 3 in l :
    print("try to multiply")

try to add

In [30]:
l

[1, 2, 3, 4, 5]

In [31]:
if 10 in l:
    print("try to add")
elif 2 in l :
    print("try to subtract")
elif 3 in l :
    print("try to multiply")

try to subtract

In [32]:
if 1 in l:
    print("try to add")
elif 2 in l :
    print("try to subtract")
elif 3 in l :
    print("try to multiply")
if 4 in l:
    print("this is new statement")

try to add
this is new statement

In [33]:
a = 400

In [34]:
a

400

In [37]:
b = input()

400

In [36]:
b

'abcdef'

In [38]:
b

'400'

In [41]:
type(b)

str

In [42]:
d

NameError: name 'd' is not defined

In [ ]:
b

In [43]:
b

'400'

In [44]:
type(b)

str

In [45]:
b=int(input())

400

In [46]:
b

400

In [47]:
type(b)

int

In [48]:
f=int(input())

abc400

ValueError: invalid literal for int() with base 10: 'abc400'

In [49]:
price = int(input())
if price < 500 :
    print("I will buy something")
    if price < 400 :
        print("I will buy Jacket")
    elif price < 300 :
        print("I will buy shirt")
    else :
        print("I cannot buy anything")
else:
    print("I cannit buy anything with this price tag")

abcdef

ValueError: invalid literal for int() with base 10: 'abcdef'

In [50]:
price = int(input())
if price < 500 :
    print("I will buy something")
    if price < 400 :
        print("I will buy Jacket")
    elif price < 300 :
        print("I will buy shirt")
    else :
        print("I cannot buy anything")
else:
    print("I cannot buy anything with this price tag")

600
I cannit buy anything with this price tag

In [51]:
price = int(input())
if price < 500 :
    print("I will buy something")
    if price < 400 :
        print("I will buy Jacket")
    elif price < 300 :
        print("I will buy shirt")
    else :
        print("I cannot buy anything")
else:
    print("I cannot buy anything with this price tag")

500
I cannot buy anything with this price tag

In [52]:
price = int(input())
if price < 500 :
    print("I will buy something")
    if price < 400 :
        print("I will buy Jacket")
    elif price < 300 :
        print("I will buy shirt")
    else :
        print("I cannot buy anything")
else:
    print("I cannot buy anything with this price tag")

490
I will buy something
I cannot buy anything

In [53]:
price = int(input())
if price < 500 :
    print("I will buy something")
    if price < 400 :
        print("I will buy Jacket")
    elif price < 300 :
        print("I will buy shirt")
    else :
        print("I cannot buy anything")
else:
    print("I cannot buy anything with this price tag")

300
I will buy something
I will buy Jacket

In [54]:
price = int(input())
if price < 500 :
    print("I will buy something")
    if price < 400 :
        print("I will buy Jacket")
    elif price < 300 :
        print("I will buy shirt")
    else :
        print("I cannot buy anything")
else:
    print("I cannot buy anything with this price tag")

089
I will buy something
I will buy Jacket

In [55]:
price = int(input())
if price < 500 :
    print("I will buy something")
    if price < 400 :
        print("I will buy Jacket")
    elif price < 300 :
        print("I will buy shirt")
    if price < 200 :
        print("I will buy something")
    else :
        print("I cannot buy anything")
else:
    print("I cannot buy anything with this price tag")
    if price > 500:
        print("lets try someting else")

600
I cannot buy anything with this price tag
lets try someting else

In [56]:
marks = 600

In [57]:
type(marks)

int

In [58]:
m = int(input())

KeyboardInterrupt: Interrupted by user

In [ ]:
type(m)

In [ ]:
marks = int(input())
if marks < 600 :
    print("Non GRE")
elif marks < 500 :
    print("TOFEL")
elif marks < 400 :
    print("something else")
else :
    print("will get GRE")

In [ ]:
700

In [ ]:
marks = int(input())
if marks < 600 :
    print("Non GRE")
elif marks < 500 :
    print("TOFEL")
elif marks < 400 :
    print("something else")
else :
    print("will get GRE")

In [60]:
val = float(input("enter a floating pint number"))
if val >=0 :
    if val == 0 :
        print("entered value is zero")
    else :
        print("enteerd value is +ve number")
else :
    print("entered number is -ve")

enter a floating pint number-3.20
entered number is -ve

In [ ]:
val

In [ ]:
1

In [ ]:
g = input()

In [ ]:
input()

In [ ]:
a = "name"

In [59]:
val

NameError: name 'val' is not defined

In [61]:
val = float(input("enter a floating pint number"))
if val >=0 :
    if val == 0 :
        print("entered value is zero")
    else :
        print("enteerd value is +ve number")
else :
    print("entered number is -ve")

enter a floating pint number0
entered value is zero

In [62]:
val = float(input("enter a floating point number : "))
if val >=0 :
    if val == 0 :
        print("entered value is zero")
    else :
        print("enteerd value is +ve number")
else :
    print("entered number is -ve")

enter a floating point number : 1.45
enteerd value is +ve number

In [63]:
marks = int(input())
if marks < 600 :
    print("Non GRE")
elif marks < 500 :
    print("TOFEL")
elif marks < 400 :
    print("something else")
else :
    print("will get GRE")

700
will get GRE

In [64]:
marks = int(input())
if marks < 600 :
    print("Non GRE")
elif marks < 500 :
    print("TOFEL")
elif marks < 400 :
    print("something else")
else :
    print("will get GRE")

300
Non GRE

In [66]:
marks = int(input())
if marks < 600 :
    print("non GRE")
    if marks < 400 :
        print("Something Else")
    elif marks <500 :
        print("TOFEL")
    else : 
        print("better")
else :
    ("GRE")

700

In [67]:
marks = int(input())
if marks < 600 :
    print("non GRE")
    if marks < 400 :
        print("Something Else")
    elif marks <500 :
        print("TOFEL")
    else : 
        print("better")
else :
    ("GRE")

700

In [68]:
 a = 10
    if a <= 10 :
        print("do something")

IndentationError: unexpected indent (3655079599.py, line 2)

In [70]:
a = 10
if a <= 10 :
        print("do something")

do something

In [71]:
a = 10
if a < 10 or a ==10 :
    print("do something")

do something

In [72]:
a = 10
if a < 10 or a > 10 :
    print("do something")

In [73]:
a = 10
if a < 10 and a > 10 :
    print("do something")

In [74]:
a = 10
if a < 10 or a == 10 :
    print("do something")

do something

In [75]:
a = 10
if a < 10 and a == 10 :
    print("do something")

In [76]:
a = "sudh"
if a == "sudh" and a == "Sudh" :
    print("this")

In [77]:
a = "sudh"
if a == "sudh" or a == "Sudh" :
    print("this")

this

In [78]:
a = 10
b = 11
c = 12
d = 13
if a==9 and b==11 and c==12 and d==13 :
    print("lets do soemthing")

In [79]:
a = 10
b = 11
c = 12
d = 13
if a==10 and b==11 and c==12 and d==13 :
    print("lets do soemthing")

lets do soemthing

In [80]:
a = 10
b = 11
c = 12
d = 13
if a==9 or b==11 and c==12 and d==13 :
    print("lets do soemthing")

lets do soemthing

In [87]:
d = {"key1":"value", "key2":"sudh", "key3":"iNueron"}

In [82]:
d

{'key1': 'value1', 'key2': 'value2', 'key3': 'iNueron'}

In [83]:
if d["key1"] == "value" and d["key2"] == "sudh" and d['key3'] == 'iNueron':
    print("all the values of verified")
    print(d.values())

In [85]:
if d["key1"] == "value" and d["key2"] == "sudh" and d['key3'] == 'iNueron':
    print("all the values of verified")
    print(d.values())
else:
    print("all avlues are not verified")

all avlues are not verified

In [86]:
d

{'key1': 'value1', 'key2': 'value2', 'key3': 'iNueron'}

In [88]:
d

{'key1': 'value', 'key2': 'sudh', 'key3': 'iNueron'}

In [90]:
if d["key1"] == "value" and d["key2"] == "sudh" and d['key3'] == 'iNueron':
    print("all the values of verified")
    print(d.values())
else:
    print("all avlues are not verified")

all the values of verified
dict_values(['value', 'sudh', 'iNueron'])

In [91]:
if d["key1"] == "value" and d["key2"] == "sudh" and d['key3'] == 'iNueron':
    print("all the values of verified")
    print(d.values())

all the values of verified
dict_values(['value', 'sudh', 'iNueron'])

In [92]:
l = [1,2,3,4,5,"sudh",234.45]

In [93]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [94]:
l[0]

1

In [95]:
l[1]

2

In [96]:
l[2:5]

[3, 4, 5]

In [97]:
for i in l:
    print(i)

1
2
3
4
5
sudh
234.45

In [98]:
i

234.45

In [99]:
type(i)

float

In [100]:
i

234.45

In [101]:
l = ["suresh",0,-1,2,3]

In [102]:
l

['suresh', 0, -1, 2, 3]

In [103]:
type(l)

list

In [104]:
for i in l:
    print(i)
    print(type(i))

suresh
<class 'str'>
0
<class 'int'>
-1
<class 'int'>
2
<class 'int'>
3
<class 'int'>

In [105]:
l = ["suresh",0,-1,2,3.0]

In [106]:
l

['suresh', 0, -1, 2, 3.0]

In [107]:
for i in l:
    print(i)
    print(type(i))

suresh
<class 'str'>
0
<class 'int'>
-1
<class 'int'>
2
<class 'int'>
3.0
<class 'float'>

In [108]:
l = [1,2,3,4,5,"sudh",234.45]

In [109]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [110]:
for i in l:
    print(i+1)

2
3
4
5
6

TypeError: can only concatenate str (not "int") to str

In [111]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [112]:
for i in l:
    print(type(i))
    print(i)
    print(type(i))

<class 'int'>
1
<class 'int'>
<class 'int'>
2
<class 'int'>
<class 'int'>
3
<class 'int'>
<class 'int'>
4
<class 'int'>
<class 'int'>
5
<class 'int'>
<class 'str'>
sudh
<class 'str'>
<class 'float'>
234.45
<class 'float'>

In [113]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [116]:
for i in l :
    if type(i) == int:
        print(i+1)
    elif type(i) == str:
        print(i+str(1))

2
3
4
5
6
sudh1

In [117]:
for i in l :
    if type(i) == int or type(i) == float:
        print(i+1)
    elif type(i) == str:
        print(i+str(1))

2
3
4
5
6
sudh1
235.45

In [118]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [119]:
for i in l :
    if type(i) == int:
        print(i+1)
    elif type(i) == str:
        print(i+str(1))  
    else :
        print(i+float(1))

2
3
4
5
6
sudh1
235.45

In [120]:
for i in l :
    if type(i) == int:
        print(i+1)
    elif type(i) == str:
        print(i+str(1))  
    else :
        print(i+1.0)

2
3
4
5
6
sudh1
235.45

In [121]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [122]:
l1 = []
for i in l:
    if type(i) == int:
        l1.append(i)

In [123]:
l1

[1, 2, 3, 4, 5]

In [124]:
a = 1

In [125]:
b = "kolla"

In [126]:
b = 123

In [127]:
b = "123"

In [128]:
b.isnumeric()

True

In [129]:
marks = int(input())
if marks < 600 :
    print("non GRE")
    if marks < 400 :
        print("Something Else")
    elif marks <500 :
        print("TOFEL")
    else : 
        print("better")
else :
    ("GRE")

700

In [130]:
b

'123'

In [131]:
marks = int(input())
if marks < 600 :
    print("non GRE")
    if marks < 400 :
        print("Something Else")
    elif marks <500 :
        print("TOFEL")
    else : 
        print("better")
else :
    ("GRE")

550
non GRE
better

In [132]:
marks = int(input())
if marks < 600 :
    print("non GRE")
    if marks < 400 :
        print("Something Else")
    elif marks <500 :
        print("TOFEL")
    else : 
        print("better")
else :
    ("GRE")

450
non GRE
TOFEL

In [133]:
marks = int(input())
if marks < 600 :
    print("non GRE")
    if marks < 400 :
        print("Something Else")
    elif marks <500 :
        print("TOFEL")
    else : 
        print("better")
else :
    print ("GRE")

350
non GRE
Something Else

In [134]:
marks = int(input())
if marks < 600 :
    print("non GRE")
    if marks < 400 :
        print("Something Else")
    elif marks <500 :
        print("TOFEL")
    else : 
        print("better")
else :
    print ("GRE")

700
GRE

In [135]:
marks = int(input())
if marks < 600 :
    print("non GRE")
    if marks < 400 :
        print("Something Else")
    elif marks <500 :
        print("TOFEL")
    else : 
        print("better")
else :
    print ("GRE")

150
non GRE
Something Else

In [136]:
type(marks)

int

In [137]:
d = input()

3

In [138]:
d

'3'

In [139]:
type(d)

str

In [140]:
type(marks)

int